<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Mad Libs</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
 <body>
   <h2> Mad Libs </h2>
   <h1> The labyrinth </h1>
   <p> Once upon a time, there was a little boy by the name of <%= @user_input[@pos[0]] %> who was the adventurous of them all. One day he took a trip to the <%= @user_input[@pos[1]] %> <%= @user_input[@pos[2]] %> and all the sudden a man pops out of no where and yells <%= @user_input[@pos[3]] %>! The boy was so <%= @user_input[@pos[4]] %> he passed out. It turns out the man who made the boy pass out was <%= @user_input[@pos[5]] %>. Once the boy awoken he looks around and yells “Hello, where am I!" It turns out the boy was in a huge labyrinth, where it was almost <%= @user_input[@pos[6]] %> to get out. Here the boy finds two signs, the left one said “To the <%= @user_input[@pos[7]] %>” and the right one said “To the <%= @user_input[@pos[8]] %>.” So the boy decided to go to the left. Though do to his <%= @user_input[@pos[9]] %> decision at the end of that path he finds thousands of <%= @user_input[@pos[10]] %>. So the boy runs back and goes down the right path, while calling for help. Along the right path he finds a/an <%= @user_input[@pos[11]] %> which allows him to burst through the wall. The boy <%= @user_input[@pos[12]] %> goes though the hole he made and finds a <%= @user_input[@pos[13]] %> stair case leading down into the underground where the devil lives. As he travels down the stairs he’s see the man who put him here, but all the sudden two <%= @user_input[@pos[14]] %> angles swoop him up and take him to the big man up stairs where the boy is saved and he lives <%= @user_input[@pos[15]] %> ever after. One may say the boys adventurous aspect made him the <%= @user_input[@pos[16]] %> of them all. </p>
  </body>
</html>