<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Mad Libs</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
 <body>
   <h2> Mad Libs </h2>
   <h1> A Haunted Story </h1>
   <p> It’s a cool summer night. You and your friend <%= @pos[0] %> decide to take a nighttime stroll through the neighborhood in order to investigate the notorious haunted <%= @pos[1] %> that sits on the corner of the road. As you approach the corner you hear a <%= @pos[2] %> sound coming from the bushes. All of the sudden a <%= @pos[3] %> pops out in front of you and you drop your <%= @pos[4] %>. You <%= @pos[5] %> as fast as you can around the corner to escape from the dangerous scene. As you round the corner you hear a shriek and realize your friend is no longer with you but you know that you have to keep <%= @pos[6] %>. You <%= @pos[7] %> right into the courtyard of the haunted <%= @pos[8] %>. Lightening strikes. Flying <%= @pos[9] %> swarm around your head. The gates fling open. Out comes your friend holding a <%= @pos[10] %>. You feel someone pushing you and saying your name. You wake up and realize it was just a dream. </p>
  </body>
</html>