<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Mad Libs</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
   
 </head>
 <body class="strawberries" >
   
<div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href='/'>Home</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href='/haunted_form'>Haunted</a>
                    </li>
                    <li>
                        <a href='/adventure_form'>Adventurous</a>
                    </li>
                    <li>
                        <a href='/funny_form'>Funny</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
  </div>
   </div>
   
   <h2> Mad Libs </h2>
   <h1> A Haunted Story </h1>
   
   <p> It’s a cool summer night. You and your friend <%= @user_input[@pos[0]] %> decide to take a nighttime stroll through the neighborhood in order to investigate the notorious haunted <%= @user_input[@pos[1]] %> that sits on the corner of the road. As you approach the corner you hear a <%= @user_input[@pos[2]] %> sound coming from the bushes. All of the sudden a <%= @user_input[@pos[3]] %> pops out in front of you and you drop your <%= @user_input[@pos[4]] %>. You <%= @user_input[@pos[5]] %> as fast as you can around the corner to escape from the dangerous scene. As you round the corner you hear a shriek and realize your friend is no longer with you but you know that you have to keep <%= @user_input[@pos[5]] %>. You <%= @user_input[@pos[7]] %> right into the courtyard of the haunted <%= @user_input[@pos[8]] %>. Lightening strikes. Flying <%= @user_input[@pos[9]] %> swarm around your head. The gates fling open. Out comes your friend holding a <%= @user_input[@pos[10]] %>. You feel someone pushing you and saying your name. You wake up and realize it was just a dream. </p>
   
  </body>
</html>